
body {
    font-size: 10px;
}

/*Box*/
.box {
    min-height: 150px;
    background-color:deepskyblue;
    border: 1px solid black;
    padding: 10px;

    justify-content: center;
    align-items: center;
}


.box-nested {
    min-height: 150px;
    background-color:dodgerblue;
    border: 1px solid white;
    padding: 2px;
}


