/*Box*/

.box {
    min-height: 150px;
    background-color:deepskyblue;
    border: 1px solid black;
    padding: 10px;
}


.box-nested {
    min-height: 150px;
    background-color:cyan;
    border: 1px solid black;
}